= javascript_include_tag "//static.getclicky.com/js"
:javascript
  try{ clicky.init(66407493); }catch(e){}
%noscript
  %img{alt: "Clicky", src: "//in.getclicky.com/66407493ns.gif", width: 1, height: 1}
