%footer
  = link_to "Source Code", "http://github.com/martinisoft/funnies"
  | #{link_to "Copyright Information", copyright_path}
  | A #{link_to "Martini Software", "http://www.martinisoftware.com/"} project
