// Master Stylesheet
// Site-Wide styles

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #000;
  background: #F0F0F0;
}

a {
  &:link, &:visited {
    outline: none;
    text-decoration: none;
    color: #4C6083;
  }

  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,.6);
  }
}

/* Header */

#header {
  color: #FFF;
  background-color: #EEE;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(0, rgb(240,240,240)),
                    color-stop(0.05, rgb(238,238,238)),
                    color-stop(1, rgb(187,187,187)));
  background-image: -moz-linear-gradient(center top,
                    rgb(240,240,240) 0%,
                    rgb(238,238,238) 5%,
                    rgb(187,187,187) 100%);
}

#header-inner {
  width: 940px;
  margin: 0 auto;
  padding: 15px 0;
}

#logo {
  float: left;
  margin: 0;

  img {
    height: 0;
  }
}

#logo a {
  display: block;
  width: 144px;
  height: 30px;
  background: url(/images/logo.png) no-repeat 0 0;
}

#account {
  float: right;
  margin: 8px 20px 0 0;
  font-size: 1.5em;
  color: #999;

  a {
    color: #333;

    &:hover {
      color: rgba(0,0,0,.5);
    }
  }
}

/* Nav */

#nav {
  float: left;
  width: 200px;
  margin: 2px 0 0 25px;

  li {
    float: left;
    margin: 0 4px 0 0;
    font-size: 1.5em;
    line-height: 1;

    a {
      display: block;
      padding: 7px 10px 7px 10px;
      text-decoration: none;
      color: rgba(0,0,0,.75);

      &:hover {
        color: #fff;
        background-color: rgba(0,0,0,.1);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }
    }
  }
}

/* Notices */

.notice {
  font-size: 1.8em;
  text-align: center;
  padding: 8px;
  color: white;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  text-shadow: #009600 -1px -1px 0px;

  &.alert {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D10000), to(#BC0600));
    background: -moz-linear-gradient(0% 100% 90deg, #D10000, #BC0600);
    text-shadow: #960000 -1px -1px 0px;
  }
}

/* Form Styles */

p.inline-hints {
  float: right;
  margin: 0 25px 0 0;
}

li.error {
  p.inline-errors {
    font-size: 1.6em;
    float: left;
    color: rgba(220,0,0,.6);
  }

  input {
    background: rgba(220,0,0,.6);
  }
}

/* Session Layout  */

#session-inner {
  margin: 0px auto;
  width: 450px;
  padding: 80px 0;
}

#session h2 {
  color: #111;
  font-size: 2.8em;
  text-align: center;
  margin: 0 0 25px 0;
}

#session a {
  font-size: 1.8em;
}

#session form.user {
  fieldset {
    margin-bottom: 10px;

    label abbr {
      display: none;
    }

    li {
      clear: both;
      margin: 0 0 30px 0;
    }

    &.inputs input {
      width: 400px;
      padding: 10px;
      font-size: 2em;
      border: none;
      border-top: 1px solid #DDD;
      border-left: 1px solid #DDD;
      border-bottom: 1px solid #CCC;
      border-right: 1px solid #CCC;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }

    &.inputs p.inline-hints {
      font-size: 1.4em;
      font-style: italic;
    }

    &.buttons input {
      margin: 0;
      font-size: 1.8em;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
      -webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
      padding: 10px 20px;
      color: #444;
      cursor: pointer;
      background: -webkit-gradient(linear, 0 0, 0 100%,
                                    color-stop(0, #FFF),
                                    color-stop(0.05, #EEE),
                                    color-stop(1, #BBB));
      background: -moz-linear-gradient(center top,
                                        rgb(255,255,255) 0%,
                                        rgb(238,238,238) 5%,
                                        rgb(187,187,187) 100%);
      text-shadow:1px 1px 0px rgba(255,255,255,0.8);
      border: 1px solid #888;

      &:hover, &:focus {
        background: rgba(0,0,0,.1);
      }
    }
  }

  label {
    color: #111;
    display: block;
    font-size: 1.8em;
    line-height: 1.5em;

    a {
      margin-left: 10px;
      font-size: 1em;
    }
  }
}

/* Regular Layout */

#wrap {
}

#wrap-inner {
  padding: 25px 0;
}

#content {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  font-size: 1.2em;
}

#content h1 {
  text-align: center;
  font-size: 2.35em;
}

#content div.comic {
  margin: 0 auto;
}

/* Content styles */

#content h2 {
  font-size: 2.1em;
  margin: 20px 0;
}

#content h3 {
  font-size: 1.8em;
}

/* Admin Styles */

#admin_nav {
  text-align: center;
  margin: 0 0 20px 0;

  & a, & a:visited {
    display: inline-block;
    padding: 4px 8px 6px;
    line-height: 1;
    font-size: 1.2em;
    color: #FFF;
    background-color: #e33100;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px -1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
  }
  & a:hover {
    background-color: #872300;
  }
}

/* Landing Page */

#content #signup {
  text-align: center;
  margin: 100px 0 0 0;
}

#content a.signup {
  font-size: 3.2em;
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  padding: 7px 20px 8px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;

  &:hover {
    background: #76b347;
    background: -moz-linear-gradient(0% 100% 90deg,#5e9e2e, #76b347);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
  }

  &:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  }
}

/* New School Clearfix */

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
