:markdown
  ## TL; DR (The short story)

  Funnies lets you read all your comics in one page and updates daily. It was created by Aaron Kalin (aka [martinisoft](https://twitter.com/martinisoft)), a Developer at [Treehouse](https://teamtreehouse.com).

  ## The story

  Funnies was created out of my daily habit to read wed comics. News feeds generally gave you an update, but you still had to click through to read the comic. I wanted something simpler that displayed all my comics on one page that would update daily in case there was new content.

  When I joined [Hashrocket](http://hashrocket.com)'s Apprenticeship Program, this was the project I chose to create.  It started with [storycarding](https://www.pivotaltracker.com/) and reading the [Rails Tutorial](http://railstutorial.org). Thanks to this project, I have learned about building a modern Ruby on Rails app, deploying and (more importantly) testing.  Everyone at Hashrocket has been very helpful in getting me off the ground with the project.

  Around 3 months later the app was ready for primetime, but I already had issues with Copyrights. The only comic in my list that had a permissive license was [xkcd](http://xkcd.com) and my favorite to boot (thats why it shows up in test code so often). Other comics had a copyright notice, but no Terms of Use license. To try and get some support, I e-mailed a lot of comic creators with a brief message of my plans and asking for their permission to re-post their comics with links and copyright notices. Each one (short of a few) have politely said no. This list of comics will go on the copyright information page so everyone knows who has officially said no.

  I'd like to think that someday they will come around and give me permission, but for now, the choices will be limited.
