:markdown
  ## DMCA Takedowns

  While I do make a point to seek permission first, if there is a comic included here and you are the copyright holder, please e-mail dmca@funniesapp.com with a formal notice and it will be answered promptly.

  ## The Nay Sayers

  Not everyone is on board with the idea of me scraping their content.  Here are the web comics that have said no to being included:

  * [Penny Arcade](http://penny-arcade.com)
  * [El Goonish Shive](http://egscomics.com)

  I do encourage you to write to each of these comics to convince them you like reading all your favorite comics via this application.
