:markdown
  ## DMCA Takedowns

  While I do make a point to seek permission first, if there is a comic included here and you are the copyright holder, please e-mail dmca@funniesapp.com with a formal notice and it will be answered promptly.

  ## Unlisted Comics

  The following comics have requested to not be listed on Funnies, so please don't ask to have them included on the site.

  * [Penny Arcade](http://penny-arcade.com)
  * [El Goonish Shive](http://egscomics.com)

  I do encourage you to write to each of these comics to let them you would like to see their content here too.
