.alert {
  background-image: -webkit-linear-gradient(225deg, transparent, transparent 25%, hsla(0,0%,0%,.1) 25%,
                    hsla(0,0%,0%,.1) 50%, transparent 50%, transparent 75%, hsla(0,0%,0%,.1) 75%, hsla(0,0%,0%,.1));
  // background-image: -webkit-linear-gradient(135deg, transparent, transparent 25%, hsla(0,0%,0%,.1) 25%,
  //                   hsla(0,0%,0%,.1) 50%, transparent 50%, transparent 75%, hsla(0,0%,0%,.1) 75%, hsla(0,0%,0%,.1));
  background-size: 20px 20px;
  // background: -webkit-repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.25) 10px, rgba(255,255,255,.25) 20px);
  // background: -moz-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.25) 38px, rgba(255,255,255,.25) 54px);
  // background: -ms-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.25) 38px, rgba(255,255,255,.25) 54px);
  // background: -o-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.25) 38px, rgba(255,255,255,.25) 54px);
  // background: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.25) 38px, rgba(255,255,255,.25) 54px);
  text-shadow: #960000 -1px -1px 0px;
  background-color: #BC0600;
  // box-shadow: 0 5px 0 hsla(0,0%,0%,.1);
  // background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D10000), to(#BC0600));
  // background: -moz-linear-gradient(0% 100% 90deg, #D10000, #BC0600);

  a.close {
    color: $alert-font-color;
  }
}
