body {
  font-family: 'titilliumtext25l250_wt', $helvetica;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'playtimewithhottoddiesregular', $helvetica;
}

#wrap {
  @include outer-container;
}

#banner-inner {
  @include outer-container;
}

#session {
  @include outer-container;
}

#session-inner {
  @include span-columns(6);
  @include shift(3);

  input[type=submit] {
    @include button($button-med, $primary-color, true, true, false, true);
  }
}

#account_links {
  ul li {
    list-style-type: none;
  }
}

footer {
  @include outer-container;
  text-align: center;
}
