body {
  font-family: 'titilliumtext25l250_wt', $helvetica;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'playtimewithhottoddiesregular', $helvetica;
}

#wrap {
}

#wrap-banner {
}

#banner-inner {
}

footer {
  text-align: center;
}
