/* Master Styles */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  color: #000;
  background: #F0F0F0;
}

a {
  &:link, &:visited {
    outline: none;
    text-decoration: none;
    color: #4C6083;
  }

  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,.6);
  }
}

.gravatar {
  vertical-align: middle;
}

/* Header */

#wrap-banner {
  color: #FFF;
  background-color: #EEE;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(0, rgb(240,240,240)),
                    color-stop(0.05, rgb(238,238,238)),
                    color-stop(1, rgb(187,187,187)));
  background-image: -moz-linear-gradient(center top,
                    rgb(240,240,240) 0%,
                    rgb(238,238,238) 5%,
                    rgb(187,187,187) 100%);
  padding: 5px 0;
}

#banner-inner {
  width: 960px;
  margin: 0 auto;

  h1 {
    float: left;

    a {
      display: block;
      width: 160px;
    }
  }
}

/* Footer */

footer {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4em;
  padding: 10px;
}

/* Nav */

#top-menu ul {
  float: left;

  li {
    float: left;

    a {
      display: block;
      padding: 6px 10px;
      font-size: 1.5em;

      &:hover {
        background: rgba(0,0,0,.2);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
      }
    }
  }
}

.dropdown {
  display: none;
  position: absolute;
  min-width: 100px;
  max-width: 200px;
  background-color: #CCC;
  z-index: 2;

  ul {
    width: 100%;

    li {
      clear: both;
      display: block;
      width: 100%;
    }
  }
}

#account {
  float: right;
  text-align: right;
  margin: 6px 0 0 0;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  color: #333;

  a {
    color: #333;
    font-weight: bold;

    &.username {
      border-right: 1px solid #444;
      padding-right: 8px;
    }

    &:hover {
      color: rgba(0,0,0,.5);
    }
  }
}

/* Notices */

.notice {
  font-size: 1.8em;
  text-align: center;
  padding: 8px;
  color: white;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  text-shadow: #009600 -1px -1px 0px;

  &.alert {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D10000), to(#BC0600));
    background: -moz-linear-gradient(0% 100% 90deg, #D10000, #BC0600);
    text-shadow: #960000 -1px -1px 0px;
  }
}

/* Buttons */


a.button, a.button:visited {
  display: inline-block;
  padding: 5px 10px 6px;
  color: #FFF;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;

  &:hover, &:active {
    background-color: #111;
    color: #FFF;
  }
}

a.button {
  &.admin_button, &.admin_button:visited {
    background-color: #e33100;
  }

  &.admin_button:hover {
    background-color: #872300;
  }
}

/* Form Styles */

form {
  fieldset {
    margin-bottom: 10px;

    label abbr {
      display: none;
    }

    li {
      clear: both;
      margin: 0 0 30px 0;
    }

    &.inputs input {
      width: 400px;
      padding: 10px;
      font-size: 2em;
      border: none;
      border-top: 1px solid #DDD;
      border-left: 1px solid #DDD;
      border-bottom: 1px solid #CCC;
      border-right: 1px solid #CCC;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }

    &.inputs textarea {
      width: 400px;
      padding: 10px;
      font-size: 2em;
      border: none;
      border-top: 1px solid #DDD;
      border-left: 1px solid #DDD;
      border-bottom: 1px solid #CCC;
      border-right: 1px solid #CCC;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }

    &.inputs p.inline-hints {
      font-size: 1.4em;
      font-style: italic;
    }

    &.buttons input {
      margin: 0;
      font-size: 1.8em;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
      -webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
      padding: 10px 20px;
      color: #444;
      cursor: pointer;
      background: -webkit-gradient(linear, 0 0, 0 100%,
                                    color-stop(0, #FFF),
                                    color-stop(0.05, #EEE),
                                    color-stop(1, #BBB));
      background: -moz-linear-gradient(center top,
                                        rgb(255,255,255) 0%,
                                        rgb(238,238,238) 5%,
                                        rgb(187,187,187) 100%);
      text-shadow:1px 1px 0px rgba(255,255,255,0.8);
      border: 1px solid #888;

      &:hover, &:focus {
        background: rgba(0,0,0,.1);
      }
    }
  }

  label {
    color: #111;
    display: block;
    font-size: 1.8em;
    line-height: 1.5em;

    a {
      margin-left: 10px;
      font-size: 1em;
    }
  }
}

p.inline-hints {
  float: right;
  margin: 0 25px 0 0;
}

.inputs li.error {
  p.inline-errors {
    font-size: 1.6em;
    float: left;
    color: rgba(220,0,0,.6);
  }

  input {
    background: #FECDC6 image-url("icons/exclamation.png") no-repeat 10px center;
    border-color: #F45D43;
    padding-left: 30px;
  }
}

/* Session Layout  */

#session-inner {
  margin: 0px auto;
  width: 450px;
  padding: 80px 0;
}

#session-inner h2 {
  color: #111;
  font-size: 2.8em;
  text-align: center;
  margin: 0 0 25px 0;
}

#session-inner #account_links {
  li {
    margin: 0 0 10px 0;
  }

  a {
    font-size: 1.4em;
  }
}

/* Regular Layout */

#wrap {
}

#content {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Pages Styles */

section#content.pages {
  margin: 0 auto;
  width: 520px;

  h1 {
    font-size: 2.2em;

    &#tagline {
      text-align: center;
    }
  }

  h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  ul li {
    font-size: 1.6em;
  }
}

/* Comic Styles */

section#content.comics h1 {
  text-align: center;
  font-size: 1.6em;
}

article.comic {
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  background-color: #FFF;
  margin: 20px 0 0 0;

  .title {
    text-align: left;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);

    h4 {
      padding: 4px 0 4px 10px;
      font-size: 1.8em;
      color: #FFF;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

      a {
        &:link, &:visited {
          color: #FFF;
        }

        &:hover, &:active {
          color: #CCC;
        }
      }
    }
  }

  .comic_strip {
    text-align: center;
    padding: 30px 0;

    h5 {
      font-size: 1.8em;
    }
  }
}

ul.comic_nav {
  font-size: 1.4em;
  margin: 6px 0 0 0;
  text-align: center;

  li {
    display: inline;

    .unsubscribe, .unsubscribe:visited {
      background-color: #ff5c00;
    }

    .unsubscribe:hover {
      background-color: #d45500;
    }

    .subscribe, .subscribe:visited {
      background-color: #2daebf;
    }

    .subscribe:hover {
      background-color: #007d9a;
    }
  }
}

form.comic {
  margin: 0 auto;
  width: 700px;

  fieldset.inputs input {
    width: 100%;
  }
}

#suggestion {
  text-align: center;
  font-size: 1.4em;
}

/* Suggestions */

form.suggestion {

  fieldset.inputs textarea {
    height: 60px;
  }
}

/* Admin Styles */

#admin_nav {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 1.4em;
}

/* Blog Styles */

form.post {
  margin: 0 auto;
  width: 700px;

  fieldset.inputs input, fieldset.inputs textarea {
    width: 100%;
  }
}

section.posts {
  article {
    width: 560px;
    margin: 0 auto;

    header {
      margin-bottom: 20px;

      h1 {
        font-size: 2.4em;
      }

      span {
        margin-right: 10px;
      }

      span, time {
        font-size: 1.4em;
      }
    }

    p {
      font-size: 1.4em;
      padding: 6px 0;
    }

    h2 {
      font-size: 1.8em;
      margin: 10px 0;
    }

    nav.admin-menu {
      text-align: right;
    }
  }
}

/* Landing Page */

#content #signup {
  text-align: center;
  margin: 100px 0 0 0;
}

#content a.signup {
  font-size: 3.2em;
  background: #7fbf4d;
  background: -moz-linear-gradient(0% 100% 90deg,#63a62f, #7fbf4d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  padding: 7px 20px 8px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;

  &:hover {
    background: #76b347;
    background: -moz-linear-gradient(0% 100% 90deg,#5e9e2e, #76b347);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer;
  }

  &:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  }
}

