// Devise related styles that fall under the session layout

#session {
  @include grid-row();
}

#session-inner {
  @include grid-column(8, $center:true);
  input[type=submit] {
    @include button($padding:$button-med, $bg:$primary-color, $radius:true, $is-input:true);
    @include grid-column($columns:3,$float:right);
  }

  h2 {
    font-size: 1.6em;
    text-align: center;
  }

  form {
    @include grid-row();

    label {
      @include prefix-postfix-base;
      @include prefix;
      @include grid-column($columns:4,$float:left);
    }

    input {
      @include grid-column($columns:8);
    }
  }

}

#account_links {
  ul li {
    list-style-type: none;
  }
}
